<h2>新規作成画面</h2>

<div class="detail-item">
<%= form_for @entry, :url => { :controller => :entries, :action => :create }, :html => {:class => "entry-form"} do |form| %>
  <%= render "form", form: form %>
  <%= form.submit "create" %>
<% end %>
</div>