.flex-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.flex-item {
  flex: 0 0 200;
  margin: 0 1px;
  border: 1px solid #fff;
  padding: 10px;
  width: 200px;
  background-color: lightgray;
}

.entry-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}