.flex-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.flex-item {
  flex: 0 0 200;
  margin: 0 1px;
  border: 1px solid #fff;
  padding: 10px;
  width: 200px;
  background-color: lightgray;
}

.entry-title {
  height: 10%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entry-body {
  height: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-item {
  margin: 0 1px;
  border: 1px solid #fff;
  height: 700px;
  width: 700px;
  background-color: lightgray;
}
.image-item {
  text-align: center;
}
.operation-item {
  text-align: center;
}