// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  th {
    border: 1px solid;
  }
  .wday-0,.wday-1,.wday-2,.wday-3,.wday-4,.wday-5,.wday-6 {
    width: 150px;
    height: 150px;
    border: 1px solid;
    text-align: center;
    a {
      display: block;
    }
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
}